{{#extend "layout"}}
    {{#content "content"}}
    <button type="button" class="btn btn-primary"><a href="/books/new" class="text-white">Add new book</a></button>
        {{#each book}}
        <div>
            <h1 id="bookTitle">
                {{this.title}}
            </h1>
            <h2 id="author">
                {{this.author}}
            </h2>
            <p id="review">
                {{this.review}}
            </p>
        </div>
        {{/each}}
    {{/content}}
{{/extend}}