{{#extend "layout"}}
{{#content "content"}}
<h1> Bookshelves</h1>

<button> Add new bookshelf </button>

<h2> Bookshelf title </h2>

<img>
<h3> Title of book </h3>
<p> Author of book </p>
<p> Date book was added </p>
<p> Review </p>

 {{/content}}
{{/extend}}