{{#extend "layout"}}
    {{#content "content"}}
    <button type="button" class="btn btn-primary"><a href="/books/new" class="text-white">Add new book</a></button>
        <div>
            <h1 id="bookTitle">
                {{title}}
            </h1>
            <h2 id="author">
                {{author}}
            </h2>
            <p id="review">
                {{review}}
            </p>
        </div>
    {{/content}}
{{/extend}}