{{!-- CREATING A NEW BOOK --}}
{{#extend "loggedIn"}}
{{#content "styles" mode="append"}}
<!-- private styles -->
{{/content}}
{{#content "content"}}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-3">
            <a href="/books"><i class="fas fa-arrow-left"></i> Back to all books</a>
        </div>
        <div class="col-sm-9">
            <form id="newbook" action="/books" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Title: <input class="form-control" name="title" type="text" required></label>
                </div>
                <div class="form-group">
                    <label>Author: <input class="form-control" name="author" type="text" required></label>
                </div>
                <!---
                <div class="form-group">
                    <label>Review: 
                        <input class="form-control" type="hidden" value={{_id}} name="bookId" />
                        <textarea class="form-control" name="review" cols="50" rows="10"></textarea>
                    </label>
                </div> -->
                <div class="form-group">
                    <label>Rating:
                        <input type="radio" name="book-rating" value="1" checked/> 1
                        <input type="radio" name="book-rating" value="2" /> 2
                        <input type="radio" name="book-rating" value="3" /> 3
                        <input type="radio" name="book-rating" value="4" /> 4
                        <input type="radio" name="book-rating" value="5" /> 5
                    </label>
                </div>

                {{#if bookshelves.length}}
                <div class="form-group">
                    <label>Bookshelf:
                        {{#each bookshelves}}
                        <input type="radio" name="bookshelf" value="{{this.name}}" checked>{{this.name}}
                        {{/each}}
                    </label>
                </div>
                {{/if}}

                <div class="form-group">
                    <label>Genres:
                        <label><input type="checkbox" name="genre" value="Thriller">Non-fiction</label>
                        <label><input type="checkbox" name="genre" value="Horror">Fiction</label>
                        <label><input type="checkbox" name="genre" value="Comedy">Drama</label>
                        <label><input type="checkbox" name="genre" value="Sci-Fi">Sci-Fi</label>
                        <label><input type="checkbox" name="genre" value="Romance">Romance</label>
                        <label><input type="checkbox" name="genre" value="Mystery">Mystery</label>
                        <label><input type="checkbox" name="genre" value="Religion">Religion</label>
                        <label><input type="checkbox" name="genre" value="Childrens">Children's</label>
                        <label><input type="checkbox" name="genre" value="Poetry">Poetry</label>
                        <label><input type="checkbox" name="genre" value="Biography">Biography</label>
                    </label>
                </div>
                <div class="form-group"><label>Cover: <input name="image" type="file" required></label></div>


                <!---<label>Tags:</label>
                    <label><input name="book-tags" type="checkbox" value="Thriller"> Thriller </label>
                    <label><input name="book-tags" type="checkbox" value="Comedy"> Comedy </label>
                    <--->
                <button class="btn btn-primary" type="submit" value="submit">Add book</button>
            </form>
        </div>
    </div>
</div>
{{/content}}
{{#content "scripts" mode="append"}}
{{/content}}
{{/extend}}