{{!-- CREATING A NEW BOOK --}}
{{#extend "layout"}}
    {{#content "styles" mode="append"}}
        <!-- private styles -->
    {{/content}}
    {{#content "content"}}
<form id="newbook" action="/books" method="POST" enctype="multipart/form-data">
    
    
    <label>Title: <input name="title" type="text" required></label>
    <label>Author: <input name="author" type="text" required></label>
    <label>Review: <input name="review" type="text" required></label>
    <label>Rating: 
        <input type="radio" name="review-rating" value="1" /> 1 
        <input type="radio" name="review-rating" value="2" /> 2
        <input type="radio" name="review-rating" value="3" /> 3
        <input type="radio" name="review-rating" value="4" /> 4
        <input type="radio" name="review-rating" value="5" /> 5
    </label>
    <label>Genres:
        <label><input type="checkbox" name="genre" value="Thriller">Thriller</label>
        <label><input type="checkbox" name="genre" value="Horror">Horror</label>
        <label><input type="checkbox" name="genre" value="Comedy">Comedy</label>
        <label><input type="checkbox" name="genre" value="Sci-Fi">Sci-Fi</label>
    </label>
    <label>Cover: <input name="image" type="file" onchange="previewFile()" required></label>
    
    
    <!---<label>Tags:</label>
        <label><input name="book-tags" type="checkbox" value="Thriller"> Thriller </label>
        <label><input name="book-tags" type="checkbox" value="Comedy"> Comedy </label>
        <--->
    <button type="submit" value="submit">Add book</button>
</form>
{{/content}}
    {{#content "scripts" mode="append"}}
        <script src="public/scripts/index.js"></script>
    {{/content}}
{{/extend}}