<form id="newbook" action="/books" method="POST">
    <label>Title: <input name="book-title" type="text" required></label>
    <label>Author: <input name="book-author" type="text" required></label>
    <label>Cover: <input name="book-image" type="file" required></label>
    <label>Tags:</label>
        <label><input name="book-tags" type="checkbox" value="Thriller"> Thriller </label>
        <label><input name="book-tags" type="checkbox" value="Comedy"> Comedy </label>
    <button type="submit" value="submit">Add book</button>
</form>