{{!-- REVIEW OF A BOOK, WHEN USER CLICKS ON A REVIEW TO READ MORE (?) --}}
{{#extend "layout"}}
{{#content "content"}}
<h1>{{reviewTitle}}!</h1>
<p>By: {{reviewAuthor}}</p>
<p>{{reviewBody}}</p>
{{/content}}
{{/extend}}