<head>
    {{#block "head"}}
    {{>head}}
    {{/block}}
    
    {{#block "styles"}}
    {{/block}}
</head>
<body>
    <header>
    {{#if login}}
        {{>navLogin}}
    {{else}}
        {{>nav}}
    {{/if}}

    </header>
    
    <main class="container">
        {{#block "content"}}
        {{/block}}
    </main>

    <footer>
        {{#block "footer"}}
        {{>footer}}
        {{/block}}

        {{#block "scripts"}}
        {{>common_scripts}}
        {{/block}}
    </footer>
</body>