<head>
    {{#block "head"}}
    {{>head}}
    {{/block}}
    
    {{#block "styles"}}
    {{/block}}
</head>
<body>
    <header>
    {{#block "navbar"}}
    {{/block}}
    </header>
    
    <main>
        {{#block "content"}}
        {{/block}}
        {{>spinner}}
    </main>

    <footer class="page-footer">
        {{#block "footer"}}
        {{>footer}}
        {{/block}}

        {{#block "scripts"}}
        {{>common_scripts}}
        {{/block}}
    </footer>
</body>