{{!-- NAV FOR NOT-LOGGED IN USER, CONTAINS LOGIN FORM --}}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        {{!-- <a href="/" class="text-dark col-lg-2 col-md-2 col-sm-12" >Home</a>
        <a href="/user/bookshelves" class="text-dark col-lg-2 col-md-2 col-sm-12" >My Books</a> --}}
        <a class="navbar-brand" href="#"><i class="fas fa-book-open text-primary"></i></a>
        <form id="login-form" class="form-inline ml-auto mr-auto">
            <input required placeholder="username" name="user-name" class="form-control mr-sm-2" type="text">
            <input required placeholder="password" name="user-password" class="form-control mr-sm-2" type="password">
            <div id="loginBtn" class="btn btn-outline-primary my-2 my-sm-0">Log in</div>
        </form>
    </nav>
    <div id="indexError" class="alert alert-danger" role="alert"></div>
</div>