{{!-- NAV FOR NOT-LOGGED IN USER, CONTAINS LOGIN FORM --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="text-dark">The Literary Archives</a>
    <label><input type="text" placeholder="Search"><button type="submit" value="submit">Go</button></label>
    <form action="/login">
        <input name="user-name" type="text" placeholder="Username">
        <input name="user-password" type="password" placeholder="Password">
        <button type="submit" value="submit">Log in</button>
    </form>
    
</nav>