{{!-- NAV FOR NOT-LOGGED IN USER, CONTAINS LOGIN FORM --}}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        {{!-- <a href="/" class="text-dark col-lg-2 col-md-2 col-sm-12" >Home</a>
        <a href="/user/bookshelves" class="text-dark col-lg-2 col-md-2 col-sm-12" >My Books</a> --}}
        <a class="navbar-brand" href="#"><i class="fas fa-book-open text-primary"></i></a>
        <form action="/login" method="POST" class="form-inline ml-auto mr-auto">
            <input placeholder="username" name="user-name" class="form-control mr-sm-2" type="text">
            <input placeholder="password" name="user-password" class="form-control mr-sm-2" type="password">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log in</button>
        </form>
    </nav>
</div>
