<nav class="navbar">
    <span>The Literary Archives</span>
    <label><input type="text" placeholder="Search"><button type="submit" value="submit">Go</button></label>
    <form action="/login">
        <input name="user-name" type="text" placeholder="Username">
        <input name="user-password" type="password" placeholder="Password">
        <button type="submit" value="submit">Log in</button>
    </form>
    
</nav>