{{!-- NAV FOR LOGGED IN USER --}}
{{!-- <nav class="container">
    <a href="/" class="text-dark col-lg-3 col-md-3 col-sm-12" >Home</a>
    <a href="/bookshelves" class="text-dark col-lg-3 col-md-3 col-sm-12" >My Books</a>
    <label class="text-dark col-lg-5 col-md-5 col-sm-12"><input type="text" placeholder="Search" id="loggedin"><button type="submit" value="submit">Go</button></label>
    <div class="dropdown col-lg-1 col-md-1 col-sm-12">
        <button><i class="fas fa-user-circle"></i></button>
        <div class="content">
            <a href="/user/profile">View profile</a>
            <a href="/profileEdit">Edit profile</a>
            <!-- User LogOut -->
            <div class="logout-user">
            <a href="/logout">LogOut</a>
            </div>
        </div>
    </div>
</nav> --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Literary Archives</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bookshelves">My Books</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/user/profile">View profile</a>
            <a class="dropdown-item" href="/profileEdit">Edit profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">LogOut</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>