{{!-- NAV FOR LOGGED IN USER --}}
<nav class="navbar">
    <a href="/" class="text-dark">The Literary Archives</a>
    <label><input type="text" placeholder="Search"><button type="submit" value="submit">Go</button></label>
    <a href="/logout">Log out</a>
</nav>