<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <nav>
            <span>The Literary Archives</span>
            <label><input type="text" placeholder="Search"><button type="submit" value="submit">Go</button></label>
            {{#unless logged-in}}
            <form>
                <input name="user-name" type="text" placeholder="Username">
                <input name="user-password" type="password" placeholder="Password">
                <button type="submit" value="submit">Log in</button>
            </form>
            {{/unless}}
        </nav>
    </header>
    {{{body}}}
</body>
</html>