{{!-- SETUP FOR HANDLEBARS --}}
<!DOCTYPE html>
<html lang="en">
    {{!-- <main class="container">
        <div class="row"> --}}
            {{{body}}}
            {{!-- <div>
                {{{body}}}
            </div>
            {{#if hasErrors}}
            <div class="alert alert-danger error-list" role="alert">
                {{error}}
            </div>
            {{/if}} --}}

        {{!-- </div>
    </main> --}}

</html>