.avatar {
    height: 128px;
    width: 128px;
    overflow: hidden;
    /* width: 100%; */
}

.avatar img {
    height: 100%;
}

.media-avatar {
    height: 100%;
}

li.media .image {
    overflow: hidden;
    height: 64px;
    width: 64px;
}

li.media .media-body img {
    /* height: 100%; */
    max-width: 100%;
}

#editor {
    background-color: #fff;
}

#toolbar-container {
    border: none;
    padding: 0;
}

.ql-editor:focus {
    outline: solid 1px #44aaff;
    box-shadow: 0 0 10px #44aaff;
}