.avatar {
    max-width: 256px;
    width: 100%;
}

li.media img {
    height: 64px;
    width: 64px;
}

#editor {
    background-color: #fff;
}

#toolbar-container {
    border: none;
    padding: 0;
}

.ql-editor:focus {
    outline: solid 1px #44aaff;
    box-shadow: 0 0 10px #44aaff;
}