/* ---------- GENERAL ---------- */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    display: inline;
}

/* header nav.navbar {
    display: flex;
    justify-content: space-around;
    
}

header nav label {
    width: 30%;
}*/

header nav label input {
    width: 80%;
} 

header nav label button {
    width: 40px;
    margin-left: 2%;
    padding: 0.3rem;
    border-radius: 3px;
    cursor: pointer;
    color: rgb(154, 194, 247);
    font-weight: 600;
}

header nav .dropdown button {
    display: none;
}

header nav .dropdown .content a {
    display: block;
    text-align: center;
}

@media (min-width: 700px) {
    header nav .dropdown button {
        display: inline-block;
    }

    header nav label button:hover {
        background-color: rgb(176, 210, 255);
        color: white;
    }

    header nav .dropdown .content {
        display: none;
        position: absolute;
        background-color: rgb(154, 194, 247);
        padding: 5px;
        border-radius: 2px;
    }

    header nav .dropdown button {
        cursor: pointer;
    }

    header nav .dropdown .content a {
        cursor: pointer;
        display: block;
    }

    header nav .dropdown:hover .content {
        display: block;
    }
}

header nav > a {
    text-align: center
}

main {
    /* margin-top: 50px;
    margin-bottom: 50px; */
}

.card {
    display: inline-block;
}

.p-image:hover {
    cursor: pointer;
}

/* ---------- BOOKSHELF PAGE ---------- */

.go-back {
    width: 100%;
}

button#addShelf {
    position: fixed;
    right: 10%;
    top: 10%;
}

div.bookshelves {
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

div.bookshelves > * {
    flex: 1 100%;
}

div.bookshelves a.btn {
    order: 2;
    flex: 0;
}

div.bookshelves h1 {
    order: 1;
    flex: 0;
}

div.bookshelves > div {
    margin-top: 10px;
    order: 3;
}

div.bookshelves p .oneTag:not(:last-child):after {
    content: ",";
}

.bookshelves li {
    list-style-type: none;
}

.bookshelves li a {
    display: block;
}

.bookshelves .book {
    display: inline-block;
    width: 200px;
}

.bookshelves div h3 {
    font-size: 1rem;
    display: block;
    text-align: center;
}

.bookshelves .oneShelf > div {
    margin-top: 30px;
}

.bookshelves .oneShelf .buttons {
    padding-top: 20px;
}

/* ---------- BOOKS PAGE ---------- */

#addNewBook {
    display: block;
    margin-bottom: 10px;
}

input[type='checkbox'] {
    margin-right: 5px;
}

.booksList {
    margin: 5px 0 5px 0;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.booksList:nth-of-type(2n+1){
    background-color: #edfbff;
}

.booksList div {
    display: inline-block;
    margin-left: 2%;
    width: 80%;
}

.booksList .image {
    width: 15%;
    vertical-align: top;
}

.booksList h1 {
    font-size: 1.5rem;
}

.booksList h2 {
    font-size: 1.2rem;
}

.booksList p .oneTag:not(:last-child):after {
    content: ",";
}

/* SINGLE BOOK PAGE */
div.bookInfo img {
    width: 25%;
    position: absolute;
    right: 0;
    margin-right: 10%;
}

div.bookInfo {
    width: 100%
}

div.bookInfo div.bookText button.btn-primary {
    float: right
}

div.bookInfo div.bookText button:hover {
    cursor: pointer;
}

div.bookInfo div.bookText {
    width: 54%;
    display: inline-block;
}

div.bookInfo div.bookText form {
    margin-top: 20px;
}

div.review {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Logout link */
a.fixed {
    position: absolute;
    right: 10px;
    top: 50px;
    width: 260px;
}

/* Profile Update Text Field */
div.profile-group {
    width:265px;
}

/* Profile Update Button */
button.profile-submit {
    width:250px;
}


/* NEW USER */
/* form#newuser label {
    display: block;
}

form#newuser span {
    display: inline-block;
    width: 80px;
} */

#indexError {
    display: none;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
    top:200px;
}

.file-upload {
    display: none;
}

.circle {
    border-radius: 6000px !important;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 8px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 72px;
}

.p-image {
    position: absolute;
    top: 180px;
    right: 110px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }

  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }

  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }

  .card-img-top2
  {
      width: 100px;
      height: 100px;
  }

  .user_upate_text_style
  {
      color: green;
  }