/* ---------- GENERAL ---------- */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    display: inline;
}

/* header nav.navbar {
    display: flex;
    justify-content: space-around;
    
}

header nav label {
    width: 30%;
}*/

header nav label input {
    width: 80%;
} 

header nav label button {
    width: 40px;
    margin-left: 2%;
    padding: 0.3rem;
    border-radius: 3px;
    cursor: pointer;
    color: rgb(154, 194, 247);
    font-weight: 600;
}

header nav label button:hover {
    background-color: rgb(176, 210, 255);
    color: white;
}

header nav .dropdown .content {
    display: none;
    position: absolute;
}

header nav .dropdown .content a {
    display: block;
}

header nav .dropdown:hover .content {
    display: block;
}

header nav > a {
    text-align: center
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    display: inline-block;
}

/* ---------- BOOKSHELF PAGE ---------- */

button#addShelf {
    position: absolute;
    right: 20%;
}

/* ---------- BOOKS PAGE ---------- */

#addNewBook {
    display: block;
    margin-bottom: 10px;
}

input[type='checkbox'] {
    margin-right: 5px;
}

#booksList {
    margin: 5px 0 5px 0;
    padding: 5px;
    border-radius: 5px;
}

#booksList:nth-of-type(2n+1){
    background-color: #edfbff;
}

#booksList div {
    display: inline-block;
    margin-left: 2%;
    width: 80%;
}

#booksList .image {
    width: 15%;
    vertical-align: top;
}

#booksList h1 {
    font-size: 1.5rem;
}

#booksList h2 {
    font-size: 1.2rem;
}

/* Logout link */
a.fixed {
    position: absolute;
    right: 10px;
    top: 50px;
    width: 260px;
}

/* Profile Update Text Field */
div.profile-group {
    width:250px;
}

/* Profile Update Button */
button.profile-submit {
    width:250px;
}
/* NEW USER */
/* form#newuser label {
    display: block;
}

form#newuser span {
    display: inline-block;
    width: 80px;
} */