<form>
    <label>Title: <input name="review-title" type="text" required></label>
    <label>Rating: 
        <input type="radio" name="review-rating" value="1" /> 1 
        <input type="radio" name="review-rating" value="2" /> 2
        <input type="radio" name="review-rating" value="3" /> 3
        <input type="radio" name="review-rating" value="4" /> 4
        <input type="radio" name="review-rating" value="5" /> 5
    </label>
    <label>Review: <textarea name="review-review" type="file" rows="15" cols="50" required></textarea></label>
    <button type="submit" value="submit">Give review</button>
</form>