<form>
    <label>Username: <input name="user-name" type="text"> </label>
    <label>Email: <input name="user-email" type="text"> </label>
    <label>Password: <input name="user-password" type="password"> </label>
    <button type="submit" value="submit">Create account</button>
</form>