{{!-- USER ACCOUNT SETTINGS--}}
{{#extend "layout"}}
{{#content "content"}}
<form id="account-settings" action="/profileEdit" method="POST">
    <div class="profile-group">
        <label>First Name:</label>
            <input class="form-control" name="firstname" type="text">
    </div>
    <br>
    <div class="profile-group">
        <label>Last Name:</label>
            <input class="form-control" name="lastname" type="text">
    </div>
    <br>
    <div class="profile-group">
        <label>Username:</label>
            <input class="form-control" name="username" type="text">
    </div>
    <br>
    <div class="profile-group">
        <label>Email:</label>
        <input class="form-control" name="email" type="email">
    </div>
    <br>
    <button class="profile-submit" type="submit" id="submitButton" value="submit">Save Profile Settings</button>

</form>
{{/content}}
{{/extend}}