{{!-- USER ACCOUNT SETTINGS--}}
{{#extend "layout"}}
{{#content "content"}}
<div id="account-settings">
    <div class="profile-group">
        <label>First Name:</label>
        <input class="form-control" name="firstname" type="text" value="{{firstname}}">
    </div>
    <br>
    <div class="profile-group">
        <label>Last Name:</label>
            <input class="form-control" name="lastname" type="text" value="{{lastname}}" >
    </div>
    <br>
    <div class="profile-group">
        <label>Username:</label>
            <input class="form-control" name="username" type="text" value="{{username}}">
    </div>
    <br>
    <div class="profile-group">
        <label>Password:</label>
        <input class="form-control" name="password" type="password" value="{{password}}">
    </div>
    <br>
    <button class="profile-submit" id="submitUpdate" value="submit">Save Profile Settings</button>

</div>
{{/content}}
 {{#content "scripts" mode="append"}}
        <script src="public/scripts/updateProfile.js"></script>
    {{/content}}
{{/extend}}