<div class="logged-in-class">
  <h1>{{title}}</h1>
  <br>
{{#with user}}
  <div class="user-data-class">
    <p>First Name : {{firstname}}</p>
    <p>Last Name : {{lastname}}</p>
  </div>
{{/with}}

<a href="/logout">logout</a>
</div>