{{!-- USER ACCOUNT SETTINGS--}}
{{#extend "loggedIn"}}
{{#content "content"}}
<div class="logged-in-class container">
<div id="account-settings">
    <br>
    <a href="/user/{{user.username}}"><i class="fas fa-arrow-left"></i> Back to your profile</a>
    <br>
    <h2> Update Your Profile Details</h2>
    <br>
    <div class="profile-group">
        <label>First Name:</label>
        <input class="form-control" name="firstname" type="text" value="{{user.firstname}}">
    </div>
    <br>
    <div class="profile-group">
        <label>Last Name:</label>
            <input class="form-control" name="lastname" type="text" value="{{user.lastname}}" >
    </div>
    <br>
    <div class="profile-group">
        <label>Username:</label>
            <input required minlength="3" class="form-control" name="username" type="text" value="{{user.username}}">
            <p class="user_upate_text_style"><small>Username should be at least 3 characters long.</small></p>
    </div>
    <div class="profile-group">
        <label>Password:</label>
        <input required minlength="8" class="form-control" name="password" type="password" placeholder="Enter only if you want to change">
        <p class="user_upate_text_style"><small>Password should be at least 8 characters long.</small></p>
    </div>
    <br>
    <button class="profile-submit" id="submitUpdate" value="submit">Save Profile Settings</button>

</div>
</div>
{{/content}}
 {{#content "scripts" mode="append"}}
        <script src="/public/scripts/updateProfile.js"></script>
    {{/content}}
{{/extend}}