{{!-- USER ACCOUNT SETTINGS--}}
{{#extend "loggedIn"}}
{{#content "content"}}
<div class="logged-in-class container">
<div id="account-settings">
    <br>
    <a href="/user/{{user.username}}"><i class="fas fa-arrow-left"></i> Back to your profile</a>
    <br>
    <h2> Update Your Profile Details</h2>
    <br>
    <form>
        <div class="profile-group">
            <label>First Name:</label>
            <input required class="form-control" name="firstname" type="text" value="{{user.firstname}}">
        </div>
        <br>
        <div class="profile-group">
            <label>Last Name:</label>
            <input required class="form-control" name="lastname" type="text" value="{{user.lastname}}" >
        </div>
        <br>
        
        <div class="profile-group">
            <label>Username:</label>
            <input name="username" required minlength="3" class="form-control" type="text" readonly value="{{user.username}}">
        </div> 
        <br>
        <div class="profile-group">
            <label>Password:</label>
            <input name="password" minlength="8" class="form-control" type="password" placeholder="Enter only if you want to change">
            <p class="user_upate_text_style"><small>Password should be at least 8 characters long.</small></p>
        </div>
        <br>
        <button class="profile-submit" id="submitUpdate" type="submit" value="submit">Save Profile Settings</button>
    </form>

</div>
</div>
{{/content}}
 {{#content "scripts" mode="append"}}
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
  <script src="/public/scripts/updateProfile.js"></script>
 {{/content}}
{{/extend}}