{{!-- PAGE FOR ERRORS --}}
{{#extend "layout"}}
{{#content "content"}}
<div class="alert alert-danger">
    <div class="container">
        <p>{{message}}</p>
    </div>
</div>
<div class="container">
    {{#if error}}
    {{!-- Do not comment following tag. They are helpful and only displayed in development. --}}
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
    {{/if}}
</div>
{{/content}}
{{/extend}}