{{!-- PAGE FOR ERRORS --}}
{{#extend "layout"}}
{{#content "content"}}
<div class="alert alert-danger">
    <p>{{message}}</p>
</div>
{{#if error}}
{{!-- Do not comment following tag. They are helpful and only displayed in development. --}}
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
{{/if}}
{{/content}}
{{/extend}}