<div class="logged-in-class">
  <h1>{{title}}</h1>
  <br>
  <div class="user-data-class">
    <p>First Name : {{firstName}}</p>
    <p>Last Name : {{lastName}}</p>
  </div>

<a href="/logout">logout</a>
</div>