{{#extend "layout"}}
    {{#content "styles" mode="append"}}
        <!-- private styles -->
    {{/content}}
    {{#content "content"}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <h1>Hello!!</h1>
                    <p>Don't have an account?</p>
                    <form id="newuser" action="/users" method="POST">
                        <div class="form-group">
                            <label>Username:</label>
                            <input class="form-control" name="name" type="text" required>
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input class="form-control" name="email" type="email" required>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input class="form-control" name="password" type="password" required>
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6Lf1GHsUAAAAAJzdSXc25k_9XQI4Zf9uRpiiiOZx"></div>
                        </div>
                        <button class="btn btn-block btn-primary" type="submit" value="submit">Create account</button>
                    </form>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "scripts" mode="append"}}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="public/scripts/index.js"></script>
    {{/content}}
{{/extend}}