{{!-- HOMEPAGE OF A LOGGED IN USER --}}
{{#extend "layout"}}
{{#content "content"}}
<h1>Welcome, {{firstName}}!</h1>
<a href="bookshelf">View my bookshelves</a>
<a href="profile">View my profile</a>
{{/content}}
{{/extend}}