{{#extend "loggedIn"}}
{{#content "head" mode="append"}}
<link rel="stylesheet" href="/public/css//newsfeed.css">
{{/content}}
{{#content "content"}}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-2">
                <div class="text-center">
                    <img class="avatar img-thumbnail rounded-circle" src="https://placeimg.com/480/480/any" alt="Card image cap">
                </div>
                <h5 class="card-title text-center">Harry Potter</h5>
                {{!-- <div class="btn-group-vertical btn-block mt-3"> --}}
                <dl>
                    <dd><i class="text-secondary fas fa-user-friends"></i> Following: 0</dd>
                    <dd><i class="text-secondary fas fa-users"></i> Followers: 0</dd>
                </dl>
                <button type="button" class="btn btn-block btn-outline-primary">Follow</button>
                <button type="button" class="btn btn-block btn-outline-dark">Send Message</button>
                {{!-- </div> --}}

                {{!-- <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Harry Potter</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div> --}}
            </div>
            <div class="col-md-7 px-4 mt-2">
                <div class="p-3 bg-light rounded">
                    <div class="form-group">
                        <textarea placeholder="What are you reading?" class="form-control" id="new-post" rows="3"></textarea>
                        <div class="d-flex justify-content-end mt-2">
                            <button class="btn btn-primary">Post</button>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li class="media my-4">
                            <img class="mr-3" src="https://placeimg.com/480/480/people" alt="Generic placeholder image">
                            <div class="media-body">
                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </li>
                        <li class="media my-4">
                            <img class="mr-3" src="https://placeimg.com/480/480/animals" alt="Generic placeholder image">
                            <div class="media-body">
                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </li>
                        <li class="media my-4">
                            <img class="mr-3" src="https://placeimg.com/480/480/nature" alt="Generic placeholder image">
                            <div class="media-body">
                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mt-2">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="###"> <i class="far fa-comments"></i> Reviews</a>
                    <a class="list-group-item list-group-item-action" href="###"> <i class="far fa-heart"></i> Favorites</a>
                    <a class="list-group-item list-group-item-action" href="###"> <i class="fas fa-book"></i> Readings</a>
                </div>
            </div>
        </div>
    </div>
{{/content}}
{{/extend}}