{{#extend "layout"}}
{{#content "content"}}
<!-- Modal -->
<form id="newbookshelf" action="/bookshelves" method="post">
    <div>
        <label>Bookshelf name: <input type="name" name="name"></label>
    </div>
    <div>
        <input id="newbookshelf-submit" type="submit" value="SUBMIT" class="btn" />
    </div>
</form>
{{/content}}
{{/extend}}