{{#extend "loggedIn"}}
{{#content "content"}}
<!-- Modal -->
<div class="container mt-3">
    <div class="row">
        <form id="newbookshelf" action="/bookshelves" method="post">
            <div class="form-group">
                <label>Bookshelf name: <input type="name" name="name" required></label>
            </div>
            <div>
                <input id="newbookshelf-submit" type="submit" value="SUBMIT" class="btn btn-primary"/>
            </div>
        </form>
        {{#if error }}
            <div class="message-group">
                <div class="inform-danger">
                    <p>{{ error }}</p>  
                </div>
            </div>
    </div>
</div>
{{/if}}
{{/content}}
{{/extend}}